@font-face {
  src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
  font-family: "NunitoSans Regular";
}

@font-face {
  src: url('../fonts/Yeseva_One/YesevaOne-Regular.ttf');
  font-family: "YesevaOne Regular";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family:'NunitoSans Regular', 'Courier New', Courier, monospace;
  background-color: white;
}

.button{
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-family:'NunitoSans Regular', 'Courier New', Courier, monospace;
}

.container{
  max-width: 1256px;
  margin: 0 auto;
}

.header-navigation{
  list-style: none;
  display: flex;
}

.header-navigation__item{
  margin-right: 47px;
}

.header-navigation__item a{
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.logo{
  color:#E3B873;
}

.header{
  background-color: black;  
}

.header-content{
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

/*для 1 блока home*/
.home{
  background-image: url('../files/image_4_3.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-left: 134px;
  padding-right: 630px;
  position: relative;
}

.title{
  margin: 0;
  font-family: 'YesevaOne Regular','Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home-overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-container{
  position: relative;
  z-index: 1;
}

.home-text{
  font-family: 'NunitoSans Regular','Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 19px;
  padding-left: 0px;
  padding-right: 170px;
}

.button-home{
  color: white;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;  
}

.button-home_on{
  padding: 19px 41px;
  background: #E3B873;
  border: 0;
}

.button-home_off{
  padding: 19px 21px;
  margin-left: 20px;
  background: none;
  border: 1px solid #FFFFFF;
}

.text-yellow{
  color: #E3B873;
}

/*для 1 блока project*/
.project{
  background-color: #131313;
  background-size: cover;
  height: 1074px;
  padding-top: 107px;
  padding-left: 134px;
  padding-right: 134px;
  position: relative;
}

.project-container{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.project-container-right{
  background-image: url('../files/image_2_1.png');
  height: 483px;
  width: 679px;  
}

.project-container-left{
  padding-right:0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  height: 483px;
  width: 442px;  
}

.project-text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  padding-right: 50px;
  color: #FFFFFF;
}

.title-project{
  margin: 0;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  padding-right: 350px;
  position: relative;
}

.project-navigation{
   display: flex;
   flex-direction: row-reverse;
   list-style: none;   
   padding-right: 0px;
   position: relative;
}

.project-navigation__item{
  margin-right: 47px;
}

.project-navigation__item a{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E3B873;
  text-decoration: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 200px;
  grid-template-rows: 110px 110px 110px;
}

.text-p{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;  
  margin-bottom: 7px;  
}

.text-t{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;  
}

.item-5{
  padding-top: 60px;
}