@font-face {
  src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
  font-family: "NunitoSans Regular";
}

@font-face {
  src: url('../fonts/Yeseva_One/YesevaOne-Regular.ttf');
  font-family: "YesevaOne Regular";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family:'NunitoSans Regular', 'Courier New', Courier, monospace;
  background-color: white;
}

.button{
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-family:'NunitoSans Regular', 'Courier New', Courier, monospace;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer; 
}

.container{
  max-width: 1256px;
  margin: 0 auto;
}

input{
  max-width:300px;
}


.line{
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.line2{
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
}

.header-navigation{
  list-style: none;
  display: flex;
}

.header-navigation__item{
  margin-right: 47px;
}

.header-navigation__item a{
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.logo{
  color:#E3B873;
}

.header{
  background-color: black;  
}

.header-content{
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

/******************для 1 блока home*******************************************/
.home{
  background-image: url('../files/image_4_3.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-left: 134px;
  padding-right: 630px;
  position: relative;
}

.title{
  margin: 0;
  font-family: 'YesevaOne Regular','Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home-overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-container{
  position: relative;
  z-index: 1;
}

.home-text{
  font-family: 'NunitoSans Regular','Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 19px;
  padding-left: 0px;
  padding-right: 170px;
}

.button-home{
  color: white;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;  
}

.button-home_on{
  padding: 19px 41px;
  background: #E3B873;
  border: 0;
}

.button-home_off{
  padding: 19px 21px;
  margin-left: 20px;
  background: none;
  border: 1px solid #FFFFFF;
}

.text-yellow{
  color: #E3B873;
}

/******************для 2 блока project****************************************/
.project{
  background-color: #131313;
  background-size: cover;
  height: 1074px;
  padding-top: 107px;
  padding-left: 134px;
  padding-right: 134px;
  position: relative;
}

.project-container{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.project-container-right{
  background-image: url('../files/image_2_1.png');
  height: 483px;
  width: 679px;    
  background-repeat: no-repeat;
  background-position: center;
}

.project-container-left{
  padding-right:0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  height: 483px;
  width: 442px;  
}

.project-text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  padding-right: 50px;
  color: #FFFFFF;
}

.title-project{
  margin: 0;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  padding-right: 350px;
  position: relative;
}

.project-navigation{
   display: flex;
   flex-direction: row-reverse;
   list-style: none;   
   padding-right: 0px;
   position: relative;
}

.project-navigation__item{
  margin-right: 47px;
}

.project-navigation__item a{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 0.3);
  text-decoration: none;
  padding: 5px;
}

.project-navigation__item a:hover{
  color: #E3B873;
  padding-bottom: 6px;
  border-bottom: 1.1px solid #E3B873;  
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 210px;
  grid-template-rows: 110px 110px 120px;
}

.text-p{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;  
  margin-bottom: 7px;  
}

.text-t{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;  
}

.item-5{
  padding-top: 60px;
}

/******************для 3 блока control****************************************/
.control{  
  height: 1074px;
  position: relative;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  width: 817px;
}

.title-control{
  margin: 0;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.image_control{
  padding-bottom: 80px;
  text-align: center;
  background-image: url('../files/figure1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.control_block2{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url('../files/image_6.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 434px; 
}

.image_block2{
  padding-top: 65px;
}

.control_block3{
  padding-left: 80px;
  padding-right: 80px;  
}

.title_block3{
  text-align: center;
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  padding-bottom: 92px;
}

.image_block3{
  padding-bottom: 120px;
  text-align: center;
  background-image: url('../files/figure2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.control-overlay{
  height: 434px; 
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -295px;
  margin-left: 0px;
  margin-right: 0px;
}

.flex_control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-flex-p{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;  
  color: rgba(54, 54, 54, 0.5); 
  margin-bottom: -3px;  
}

.text-flex{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636; 
  border: 0px;
}

.text-checkbox{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  /* or 23px */
  color: #181818;
}

.image-flex{
  padding-bottom: 12px;
  text-align: center;
  background-image: url('../files/figure4.png');
  background-repeat: repeat-x;  
}

.first-checkbox{
  padding-top: 20px;
  text-align: center;
}

.label {
  cursor: pointer;
}

.checkbox{
  display: none;
}

.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}

.fake::before{
  content:"\2714";
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .fake::before{
  opacity: 1;
}

.button-flex{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 75px;
  background-color: #E3B873;
  border: 0; 
}

.item-3_flex{
  padding-top: 15px;
}

/******************для 3 блока repair****************************************/
.repair_block1_p{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;  
  color: #181818;
  text-align: center;
  padding-top: 120px;
}  

.repair_block1_img{
  text-align: center;
}

.repair_block2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 706px;
  padding-top: 30px;
  padding-left: 103px;
  padding-right: 0px;
}

.repair_block2_item{
  width: 392px;
  height: 421px;
}

.repair_block2_item1{
  text-align: center;
  background-image: url('../files/image.jpg');
  background-repeat: no-repeat;  
}

.repair_block2_item2{
  text-align: center;
  background-image: url('../files/image_3.jpg');
  background-repeat: no-repeat;  
}

.repair_block2_item3{
  text-align: center;
  background-image: url('../files/image_3_1.jpg');
  background-repeat: no-repeat;  
}
/**/
.repair_block3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 286px;
  margin-top: -380px;
  padding-left: 134px;
  padding-right: 31px;  
}

.repair_block3_item{
  background-color: #ffffff;
  height: 286px;
  width: 330px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  padding-left: 20px;
}

.repair_block3_item_p{
  padding-left: 20px;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;  
  color: #363636;
}
.repair_block3_item_li{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595; 
}

.repair_block4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -20px;
  padding-left: 134px;
  padding-right: 132px;  
}

.button_repair_block4{
  padding: 17px 22px; 
  background: #E3B873;
  border: 0;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.repair{
  padding-left: 101px;
  padding-right: 101px;
}

/******************для 4 блока measure****************************************/
.measure{  
  height: 726px;
  padding-top: 50px;
 
}

.measure-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 725px;
  background-image: url('../files/image8.png');
  background-repeat: no-repeat;  
  background-size: auto;
  background-position: left;  
  width: 1440px;
}

.measure_block1{
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 120px;
}

.measure_block2{
  background-color: #131313;
  background-size: auto;
  background-position: center;
  height: 509px;
  width: 506px;
  margin-left: -250px;
  margin-right: 100px;
  margin-top: 150px;
  margin-bottom: 154px;
  padding-left: 40px;
}

.measure_block1_li{
  display: flex;
  flex-direction: row;
  justify-content: left;  
}

.measure_block1_li_text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636; 
  padding-left: 10px;
  padding-right: 290px;  
}

.item2_li{
  margin-top: 10px;
  margin-left: -10px;
}

.item1_li{
  margin-left: 10px;
}
.measure_block1_lu{
  list-style: none;     
  margin-left: 50px;
  text-align: left;
}

.measure_block1 li {
  margin-bottom: 75px; /* Расстояние снизу */  
 }


.item_measure{
  padding-bottom: 22px;
  padding-right: 40px;
}

.measure_block1_li_img{
  background-image: url('../files/figure6.png');
  background-repeat: no-repeat;  
  background-size: auto;
  background-position: center;
  height: 88px;
  width: 88px;  
  margin-top: -20px;
}

.measure_block1_li_img_text{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;   
  padding-left: 3px;
  padding-top: 9px;
}

.text_flex_p_measure{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;  
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;  
}

.text_measure{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

.text_flex_measure{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: white; 
  background-color:  #131313;
  border: 0px;
}

.measure_block2_text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button_flex_measure{
  font-family: 'NunitoSans Regular';  
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;  
  color: #FFFFFF;
  padding: 10px 25px;
  background-color: #E3B873;
  border: 0;  
}

.checkbox-measure{
  padding-left: 0px;
  margin-top: 0px;
}

.button_flex_measure_div{
  padding-top: 30px;
  padding-left: 180px;  
}

.measure_block3{
  margin-top:30px;
  padding-left: 920px;
  padding-right: 132px;
  display: flex;
}

.measure_block3_text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  padding-left: 5px;
  padding-right: 55px;
  margin-top: 20px;
}

.measure_block3_img{
  background-image: url('../files/figure7.png');
  background-repeat: no-repeat;  
  background-size: auto;
  background-position: center; 
  height: 113px; 
  width: 113px; 
  padding-left: 0px;
}

/******************для 4 блока revies*****************************************/
.reviews{
  margin-top: 190px;
  padding-top: 0px;
  background-image: url('../files/image_5_1.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;    
}

.container_reviews{
  width:1440px;
  height: 864px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.reviews-overlay{
  content: '';
  height: 864px;
  margin-top: -864px;
  background-color: rgba(0, 0, 0, 0.85);
}

.reviews_block1{
  padding-left: 99px;
  padding-top: 138px;
  padding-right: 200px;
}

.reviews_block1_p{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  padding-right: 0px;
}

.reviews_block1_ul{
  list-style: none;
  padding-left: 0px;
}

.reviews_block1_ul a{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
  text-decoration: none;  
}
.reviews_block1_ul a:hover{
  text-decoration:underline; 
  color: #E3B873;
}

.reviews_block1_ul li {
  margin-bottom: 10px; /* Расстояние снизу */
 }

 .reviews_block1_nav{
  padding-top: 20px;
}

.reviews_block2{
  margin-top: -50px;
  height: 800px;
  padding-right: 43px;
}

.reviews_block3{
  margin-top: -100px;
  height: 800px;
  padding-right: 102px;  
}


.reviews_block2_img1{
  background-image: url('../files/image_5.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  height: 558px;
  width: 354px;
  margin-bottom: 40px;
}

.reviews_block2_img2{
  background-image: url('../files/image_5_1_1.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 354px;  
}

.reviews_block3_img1{
  background-image: url('../files/image_5_3.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 354px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.reviews_block3_img2{
  background-image: url('../files/image_5_2.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  height: 623px;
  width: 354px;
}



/******************для 7 блока clients****************************************/
.clients{
  
  padding-top: 100px;
}

.container-clients{
 
  padding-left: 103px;
  padding-right: 101px; 
}

.container-clients_block1{
  padding-top: 0px; 
}

.clients_block1_p{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.clients_block1_text{
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;  
  color: #363636;
  padding-top: 20px;
  padding-left: 423px;
  padding-right: 420px;
}

.container-clients_block2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
}

.text_clients_block2{
  padding-right: 90px;
  font-family: 'NunitoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  padding-bottom: 20px;
}

.button_clients_block2{
  padding-right: 0px; 
}

.clients_block2_div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 0px;
  padding-left: 0px;
}

.clients_block2_div_text{
  padding-right: 120px;
  padding-left: 20px;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  padding-top: 15px;
}

.button_clients_block2{
  background: #E3B873;
  border: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color:white;
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.button_clients_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_clients_block2_div_img{
  padding-left: -10px; 
}

.button_clients_block2_div_img2{
  padding-left: 20px; 
  padding-right: 20px; 
  margin-top:-10px;
  margin-bottom:-12px;
}

.button_clients_block2_div_txt{
  padding-top: 5px;
  padding-left: 10px; 
}
/******************для 8 блока questions***************************************/
.questions{
  margin-top: -1150px;
  height: 442px;
  margin-bottom: 708px;
}

.container-questions{
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width:883px;
  background-color: #181818;
  background-size: cover;
  background-position: center;  
}

.questions_input{
  background-color: #181818;
}

.container-questions_in{
  padding-left: 182px;
  padding-right: 182px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.questions_block2_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questions_block1{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.questions_block3{
  text-align: center;
}

.questions_block4{
  padding-top: 40px; 
  text-align: center; 
}

.button_questions{
  padding-left: 84px;
  padding-right: 84px;
  padding-top: 20px;
  padding-bottom: 20px; 
}

/******************для 9 блока contacts***************************************/
.contacts{
  height: 954px;
  margin-top: 320px;
  background-image: url('../files/image_7_2.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center; 
}


.container-contacts{
    height: 954px;
 }

.contacts_block1{
  font-family: 'YesevaOne Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  padding-left: 425px;
  padding-right: 426px;
  padding-top: 240px;
}

.contacts_block2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 680px;
  padding-right: 680px;
  padding-top: 20px;
 }

 .contacts_block2_div{
  padding-left: 10px;
  padding-right: 10px;
 }

 .contacts_block3{
  padding-left: 50%;
  padding-right: 260px;
  margin-left: -460px;
  margin-right: 460px;
  padding-top: 30px;
  
 }

 .contacts-overlay{
  content: '';
  height: 954px;
  margin-top: -954px;
  padding-left: 425px;
  padding-right: 426px;
  padding-top: 240px;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer{
  padding-top: 20px;
  height: 133px; 
}

.header-navigation a:hover{
  color:#E3B873;
}

